{% extends 'BookApp/base.html' %}
{% load static %}

{% block title %}
Author detail
{% endblock title %}


{% block content %}
<div  class="book_list" style="position: absolute;left: 130px;top: 80px; background-color: rgb(54, 54, 54,0.80 );padding: 50px;border-radius: 50px;width: 1500px; height: 730px;">

    <img src="{% static 'BookApp/img/author.webp' %}" alt="" style="width: 25rem;border-radius: 10px;position: absolute;top: 100px;">
    <p style="position: absolute; left: 600px; top: 20px; font-size: 40px;">{{ author}} </p>
 
    <div style="width: 700px;position: absolute; left: 700px;top: 260px;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus officiis mollitia non amet culpa. Voluptates repudiandae quos nulla, ab facilis, nostrum necessitatibus voluptate eveniet quo, at doloribus dicta assumenda quisquam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem eveniet sint assumenda corporis aut recusandae, cupiditate quibusdam placeat quo unde enim, ipsum, ducimus pariatur obcaecati doloribus voluptate dicta laudantium! Illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ad cum ipsum obcaecati explicabo, modi excepturi praesentium! Nulla, expedita aliquid! Labore repellat ab laudantium saepe asperiores eaque aperiam soluta reprehenderit!</p>
    </div>
    

   

</div>
{% endblock content %}

